<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-dark">
                <h3 class="card-title text-white">
                    <i class="far fa-image"></i> Upload an Image
                </h3>
            </div>
            <div class="card-body">
                <form action="/images" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file imput" id="inputGroup" aria-describedby="inputGroupFileAddon" required>
                                <label for="inputGroup" class="custom-file-label" id="file">Choose File</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Title for the image" required>
                    </div>
                    <div class="form-group">
                        <textarea name="description" rows="2" class="form-control" placeholder="Description for the image" required></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">
                            <i class="fa fa-upload"></i> Upload Image
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-2">
            <div class="card-header bg-dark text-white">
                <h3><i class="far fa-images"></i> Recent uploads</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {{#if images}}
                        {{#each images}}
                            <div class="col-md-4 p-2">
                                <a href="/images/{{uniqueId}}">
                                    <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumnail">
                                </a>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {{> stats}}
        {{> popular}}
        {{> comments}}
    </div>

</div>
